<div class="waiting-container">

  <div class="waiting-header">

    {{ title }}

  </div>

  <div
  class="waiting-list"
  cdkDropList
  [id]="listId"
  [cdkDropListData]="vehicles"
  [cdkDropListConnectedTo]="connectedDropLists"
  [cdkDropListEnterPredicate]="canEnter"
  (cdkDropListDropped)="onDrop($event)">

    <app-vehicle-card
      *ngFor="let vehicle of vehicles"
      [vehicle]="vehicle"
      [draggable]="vehicle.status !== 'completed'">
    </app-vehicle-card>

    <div
    class="empty-list"
    *ngIf="vehicles.length === 0">

    Arrastrar vehículos aquí

  </div>
  </div>

</div>
